*{
    box-sizing: border-box;
    position: relative;
    font-family: Calibri,微軟正黑體;
}
a{
    text-decoration: none;
}

/* .container,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    border: 1px solid #3170F6;
} */
.nav-bar{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding: 20px 80px;
    align-items: flex-start;
    gap: 240px;
    background-color: #E5E5E5;
}
.nav-bar .col-lg-4{
    text-align: center;
    align-content: center;
}
.nav-bar_link{
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #3170F6;
}
.nav-bar_link:hover{
    color:#14213D;
}
.col-lg-4{
    flex: 0 0 auto;
    flex-direction: row;
    width: 33.3333%;
}

/* .nav-bar-row:after{
    content: '';
    float: right;
} */
.nav-bar_link.title{
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/*  start使用教學列 */
.notice-bar{
    display: inline-flex;
    align-items: flex-start;
    padding-top: 40px;
    width: 1296px;
    
}
.notice-bar1,
.notice-bar2,
.notice-bar3,
.notice-bar4{
display: block;
opacity: 0.9;
color: #E5E5E5;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
padding-top: 16px;
padding-bottom: 16px;
width: 324px;
}

.notice-bar1{
    border-radius: 12px 0px 0px 12px;
background-color: rgba(49, 112, 246,0.85);


}
.notice-bar1.guideline{
    border-radius: 12px 12px 12px 12px;
}
.notice-bar2{
opacity: 0.9;
background-color: rgba(49, 112, 246,0.70);

}
.notice-bar3{
opacity: 0.9;
background-color: rgba(49, 112, 246,0.85);

}
.notice-bar4{
border-radius: 0px 12px 12px 0px;
opacity: 0.9;
background-color: rgba(49, 112, 246,1);

}
.col-lg-3 i{
    padding-left: 16px;
}

/* end使用教學列 */


/* start運動中心列 */

.col-lg-2 a{
    text-decoration: none;
    
}
 
.sport-type-bar{
    margin-top: 42px;
    width: 100%;
    padding-left: 0px;    
}
.sport-type-bar.row{
    margin-left: 0px;
}

.sporttype{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#E5E5E5;
    text-align: center;
    color: #C6C6C6; 
    margin-left: 32px; 

}

.sporttype i{
    padding-top: 30px;
    padding-bottom: 25px;
}

.centername{
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sporttype:hover{
    color:#14213D;
    

}
.sporttype:active{
    color:#3170F6;

}
.chosen{
    color: #3170F6;
}
.line{
    border: 4px solid #E5E5E5;
    margin-top: 32px;
    width: 100%;
}

/* 選擇時間&日期 */
.selection-section{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    z-index: 1000;
    
}




.btn-outline-primary{
    width: 100%;
    height: 36px;
    margin-left: 42px;

}
.option{
    text-align: center;
    margin: 24px;

}


/* Product Card */
.product-card{
    margin-top: 40px;
    margin-bottom: 40px;

    width: 100%;

}

/* 地圖 */

.map-section{
    position: relative;  
    float: right;
    width: 200px;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid red; */

}

.map-parent{
    width: 200px;
    position: relative;
    height: 100%;

}
.map-nested{

    position: fixed;

    width: 200px;
    height: 240px;
    z-index: 999;
}


/* .close-item{
    display: flex;
    width:25px;
    height: 25px;
    border: 1px solid green;
}
.close-item i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */
.hidden{
    display: none;
}
.close{
    display: none;

}
iframe{
    width: 200px;
    height: 200px;


}
/* 場地清單 */
.card-item{
    margin-top: 40px;
    height: 100%;

}
.card-item a{
    text-decoration: none;
}
.col-lg-1 i{
    
    left: 50%;
    transform: translateX(-50%); /* 水平居中 */
    margin-top: 36px;
    color: #3170F6;
    
}
.map-notice{
    color: #3170F6;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 12px;
    justify-content: center;
    align-items: center;
}
.heading1{
    color: #3170F6;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
}

.body{
    color: #3170F6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 0px 12px 8px 12px;
    justify-content: center;
    align-items: center;
}
/* .des{
    float: right;
} */
.place-grp{
    flex-wrap: wrap;
    padding: 0px 12px 8px 12px;
}
.btn{
    margin: 4px;
}


/* 開始頁尾 */
.contact-info{
    height: 100%;
}
.page-bottom{
    background-color: #E5E5E5;
    padding-top: 12px;
}
.instruction-title{
    color: #3170F6;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    padding-left: 12px;
}
.instruction-item{
    font-weight: 400;
    font-size: 12px;
    line-height:16px;
    line-height: 24px;
}
.info-section{
    display: flex;
    flex-flow: column;
    text-align: center; 
    width: 100%;

}
.row.list a{
    text-decoration: none;
    color: #14213D;
    line-height: 12px;
    font-size: 12px;

}
.row.list a:hover{
color: #3170F6;

}

.contact-info{

    color: #14213D;
    float: right;
}
.contact-item{
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 12px;
    text-align: center;


}
.row.list{
    margin-top: 40px;
    flex-wrap: nowrap;
}

.center-section{
    float: right;
}

.copyright{
    margin-top: 48px;
    text-align: center;
    background-color: rgba(20, 33, 61, 0.1);
    font-size: 12px;
    line-height: 12px;
}
/* 結束頁尾 */


/* RWD */

@media only screen and (max-width: 768px) {
    .nav-bar .row{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .nav-bar .col-sm-4{
        width: 33%;

    }
    {
        font-size: 16px;
    }
    .nav-bar_link.title,
    .nav-bar_link{
        font-size: 10px;
    }
    .selection-section{
        margin-left: 50%;
        transform: translate(-50%);

    }
    .selection-section .row{
         flex-wrap: nowrap;
         
    }
    .selection-section. .col-sm-1{
        width: 50%;
    }
    .selection-section .option{
    
        display: flex;
        flex-wrap: nowrap;
        margin:0;
        padding: 0;
        z-index: 400;
        width: 50%;
    }

    .notice-bar1,
    .notice-bar2,
    .notice-bar3,
    .notice-bar4{
        font-size: 8px;
        min-width: 72px;
        
    }

    .sporttype{
        width: 80px;
        height: 80px;
        margin-left: 4px; 

    }

    .map-section{
        display: none;
    }
    .map-parent{
        height: 2400px;
    }
    .sport-type-bar{
        display: flex;
        flex-wrap: wrap;

    }
    .sport-type-bar .col-sm-2{
        width: 32%;
    }
    .product-card{
        margin-left: 50%;
        transform: translate(-50%);
    }
    .card-item{
        width: 300px;
        margin-top: 0px;
    }
    .card-item i{
        display: none;
    }
    .card-item .col-sm-1{
        display: none;
    }
    .heading1{
        font-size: 16px;
    }
    .body{
        font-size: 8px;
    }
    .page-bottom .col-sm-3{
        width: 25%;
    }
   
}